body {
  width: 700px;
  margin: auto;
  padding: 20px;
}

h3 {
  margin-bottom: 0px;
  margin-left: 20px;
}

p {
  margin-top: 5px;
  margin-left: 20px;
}

.contact {
  border: 1px solid grey;
}

#output {
  margin-top: 20px;
}
